<%- model_class = TalentHunter -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human %></h1>
</div>
<%=render "partials/form_errors", :model=>@talent_hunter %>
<div class="row">
	<%= render :partial => 'form_new' %>
</div>
