<style id="holderjs-style" type="text/css">
.holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}
</style>
<h1>Modulos</h1>
<hr>
<div class="row-fluid">
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail" style="background-color:#DAE5F1 ">
                  <img src="/images/big_icon_dots.png" alt="">
                  <div class="caption">
                    <p style="text-align:center "><a href="/modules/dots" class="btn btn-large btn-warning">DOTs</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail" style="background-color:#DAE5F1 ">
                  <img src="/images/big_icon_billing.png" alt="">
                  <div class="caption">
                    <p style="text-align:center "><a href="/talent_hunters" class="btn btn-large btn-warning">Billing</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail" style="background-color:#DAE5F1 ">
                  <img src="/images/big_icon_money.png" alt="">
                  <div class="caption">
                    <p style="text-align:center "><a href="/dots" class="btn btn-large btn-warning">Finanzas</a></p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail" style="background-color:#DAE5F1 ">
                  <img src="/images/big_icon_stat.png" alt="">
                  <div class="caption">
                    <p style="text-align:center "><a href="/dots" class="btn btn-large btn-warning">KPIS</a></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
<hr>