<div class="jumbotrom">
	<h1>Search Stats Control</h1>
	<p class="lead">Somos el líder en reclutamiento estratégico para Centroamérica, Panamá y Republica Dominicana.</p>
		<a class="btn btn-app btn-purple" href="/login">
			<i class="icon-user bigger-230"></i>
			Talent Hunter
		</a>
		<a class="btn btn-app btn-info" href="/admin">
			<i class="icon-lock bigger-230"></i>
			Company Admin
		</a>
</div>
<div class="row-fluid marketing">
	<div class="span6">
		<h4>Misión</h4>
		<p>SEARCH IN es el socio de confianza del manejo del dinamismo del capital humano de las organizaciones lideres; Con un alto grado de eficiencia, innovación, ejecución y siempre con el principio ganar/ganar</p>
	</div>
	<div class="span6">
		<h4>Visión</h4>
		<p>SEARCH IN crece a través de hacer crecer a otros en la realización profesional y personal de la gente</p>
	</div>
</div>