<style id="holderjs-style" type="text/css">
.holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}
</style>
<h1>Configuraciones del Sistema</h1>
<hr>
<br><br>
<div class="row-fluid">
  <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail" style="background-color:#DAE5F1 ">
        <img src="/images/big_icon_customer.png" alt="">
        <div class="caption">
          <p style="text-align:center "><a href="/admins" class="btn btn-large btn-warning"> Administradores</a></p>
        </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail" style="background-color:#DAE5F1 ">
        <img src="/images/big_icon_country.png" alt="">
        <div class="caption">
          <p style="text-align:center "><a href="/countries" class="btn btn-large btn-warning"> Países</a></p>
        </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail" style="background-color:#DAE5F1 ">
        <img src="/images/big_icon_note.png" alt="">
        <div class="caption">
          <p style="text-align:center "><a href="/companies" class="btn btn-large btn-warning"> Empresas</a></p>
        </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail" style="background-color:#DAE5F1 ">
        <img src="/images/big_icon_customer.png" alt="">
        <div class="caption">
          <p style="text-align:center "><a href="/talent_hunters" class="btn btn-large btn-warning"> Talent Hunters</a></p>
        </div>
      </div>
    </li>
  </ul>
  <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail" style="background-color:#DAE5F1 ">
        <img src="/images/big_icon_dots.png" alt="">
        <div class="caption">
          <p style="text-align:center "><a href="/dots" class="btn btn-large btn-warning"> DOT'S</a></p>
        </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail" style="background-color:#DAE5F1 ">
        <img src="/images/big_icon_dots.png" alt="">
        <div class="caption">
          <p style="text-align:center "><a href="/dots" class="btn btn-large btn-warning"> DOT'S</a></p>
        </div>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail" style="background-color:#DAE5F1 ">
        <img src="/images/big_icon_settings.png" alt="">
        <div class="caption">
          <p style="text-align:center "><a href="/panel/others" class="btn btn-large btn-warning"> Configuraciones</a></p>
        </div>
      </div>
    </li>
  </ul>
</div>
